node_modules
dist
dist-ssr
*.local
.DS_Store

# Tauri / Rust
src-tauri/target
src-tauri/gen

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# TS build info
*.tsbuildinfo

# built Go sidecar binaries
src-tauri/bin/
